/*======= start custom property ==========*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif; 
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--pixel) * 1300);
}
:root{
    --pixel : 0.065vw;
    --main-color : #60E1CB;
    --secondary : #7BC0E3;
    --black : #292525;
    --section-padding : calc(var(--pixel) * 30) 0 ; 
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    width: fit-content;
}
li{
    list-style: none;
}
img{
    display: block;
}
button{
    border: none;
    background-color: transparent;
}
/*======= start header ==========*/
.header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--pixel) * 30) 0;
}
.header .navbar .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--pixel) * 50);
}
.header .navbar .links .ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--pixel) * 30);
}
.header .navbar .links .ul li a{
    color: var(--main-color);
    font-size: calc(var(--pixel) * 18);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header .navbar .links .ul li a.active{
    color: #000;
    font-weight: 700;
}
.header .navbar .links .button{
    color: #FFF;
    font-size: calc(var(--pixel) * 18);
    font-style: normal;
    font-weight: 500;
    line-height: calc(var(--pixel) * 27);
    background-color: var(--secondary);
    padding: calc(var(--pixel) * 11) calc(var(--pixel) * 27);
    border-radius: calc(var(--pixel) * 50);
    cursor: pointer;
}
/*======= start banner ==========*/
.banner {
    padding: var(--section-padding);
}
.banner .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .content .text .title{
    color: var(--main-color);
    font-size: calc(var(--pixel) * 58);
    font-style: normal;
    font-weight: 900;
    line-height: calc(var(--pixel) * 65);
    margin-bottom: calc(var(--pixel) * 30);
}
.banner .content .text .p{
    color: #000;
    font-size: calc(var(--pixel) * 20);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--pixel) * 31); 
    margin-bottom: calc(var(--pixel) * 50);
}
.banner .content .button{
    font-size: calc(var(--pixel) * 20);
    font-style: normal;
    font-weight: 700;
    line-height: calc(var(--pixel) * 24); /* 24px */
    letter-spacing: 0.1px;
    border-radius: calc(var(--pixel) * 50);
    border: 1px solid rgba(7, 0, 59, 0.17);
    padding: calc(var(--pixel) * 14) calc(var(--pixel) * 24);
    cursor: pointer;
}
.banner .content .button.one{
    color: #fff;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    margin-right: calc(var(--pixel) * 14);
    border-radius: 1000px;
    background: var(--Dark, #60E1CB);
    box-shadow: 0px 46px 52px 0px rgba(96, 225, 203, 0.56);
}
.banner .content .button.two{
    color: var(--main-color);
    background-color: #fff;
}
.banner .content .img{
    display: block;
    width: calc(var(--pixel) * 600);
}
/*======= start services section ==========*/
.our-services{
    padding: calc(var(--pixel) * 100) 0;
    background-color: #E9FBF8;
}
.our-services .title-section{
    color: #292525;
    text-align: center;
    font-size: calc(var(--pixel) * 48);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: calc(var(--pixel) * 26);
}
.our-services .description{
    color: #000;
    text-align: center;
    font-size: calc(var(--pixel) * 20);
    font-style: normal;
    font-weight: 400;
    line-height: calc(var(--pixel) * 20);
    opacity: 0.7;
    margin-bottom: calc(var(--pixel) * 50);
}
.our-services .services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: calc(var(--pixel) * 30);
}
.our-services .services .rect{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(var(--pixel) * 30);
    background-color: #fff;
    width: calc(var(--pixel) * 400);
    height: calc(var(--pixel) * 380);
    fill: #FDFDFF;
    filter: drop-shadow(0px 97px 90px rgba(7, 0, 59, 0.12));
    border-radius: calc(var(--pixel) * 15);
}
.our-services .services .rect::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(var(--pixel) * 7);
    background-color: var(--main-color);
    border-radius: calc(var(--pixel) * 15) calc(var(--pixel) * 15) 0  0;
}
.our-services .services .rect .icon{
    width: calc(var(--pixel) * 45);
    height: calc(var(--pixel) * 45);
    margin-bottom: calc(var(--pixel) * 34);
}
.our-services .services .rect .title{
    color: #292525;
    font-size: calc(var(--pixel) * 20);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: calc(var(--pixel) * 16);
}
.our-services .services .rect .p{
    color: #000;
    font-size: calc(var(--pixel) * 16);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: calc(var(--pixel) * 32);
}
.our-services .services .rect .more{
    color: #7BC0E3;
    font-size: calc(var(--pixel) * 14);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: calc(var(--pixel) * 10);
}
.our-services .services .rect .more .arrow{
    width: calc(var(--pixel) * 24);
}

